<form action= '/admin_verif', method= 'post'>
  <dl>
    <dt><label for='login'>Login:</label></dt>
    <dd><input id='login' type='text' name='login' autofocus></dd>
  </dl>
  <dl>
    <dt><label for='password'>Password:</label></dt>
    <dd><input id='password' type='text' name='password' ></dd>
  </dl>
  <button>Publish</button>
</form>