<div class="span5 offset1">
  <div class="post">
    <form action='/publish' method='post'>
      <dl>
        <dt><label for='title'>Title:</label></dt>
        <dd><input id='title' type='text' name='title' autofocus></dd>
      </dl>
      <dl>
        <dt><label for='author'>Author:</label></dt>
        <dd><input id='author' type='text' name='author' ></dd>
      </dl>
      <dl>
        <dt><label for='content'>Content:</label></dt>
        <dd><textarea id='content' type='text' name='content' ></textarea></dd>
      </dl>
      <button class="btn">Publish</button>
    </form>
  </div>
</div>