html {
  width: 700px;
}

body {
  background: url("/img/abstract.jpg") fixed;
  width: auto;
}

.post {
  border: solid grey 1px;
  border-radius: 10px;
  background-color: #E7F5F7;
  margin: 0 20px 20px 0;
  padding: 5px 20px 20px 25px;
  text-align: justify;
}

.navright {
  border: solid grey 1px;
  border-radius: 10px;
  background-color: #E7F5F7;
  margin: 0 20px 20px 20px;
  padding: 20px 20px 20px 25px;
  text-align: justify;
}

.clear_both {
  clear: both;
  text-align: center;
  display: inline-block;
}

article .link {
  margin: 10px 10px 0 10px;
  float: left;
}

.navbar {
  margin: 20px ;
  position: block;
  width: 700px;
}